//Colores

$Azul : #0693e3;
$AzulClaro: #8ed1fc;
$GrisAzulado: #334862;
$Amarillo: #fcb900;
$verde: rgb(44, 182, 40); 

//fuentes
$FuentePrincipal:"Lato", sans-serif; 

//Tamaños para mq

$telefono: 458px;
$tablet: 747px;  
$pc: 1200px;
$pcXL:1400px 
 